{% extends "../../../Layout/index.html" %}
{% load static %}
{% block PageTitle %}
<title>Ticket Lists</title>
{% endblock %}

{% block BodyBlock %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Ticket Lists</h4>
                        {% csrf_token %}

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Tickets</a></li>
                                <li class="breadcrumb-item active">Ticket Lists</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                    
                        <div class="card-body">

                            <div class="row mb-2 g-4 align-items-center">
                                <div class="col-sm-3">
                                    {% if perms.Tickets.add_tickets %}
                                    <a href={% url 'AddTickets' %}
                                        class="btn btn-primary waves-effect waves-light"><i class="ri-add-line align-bottom me-1"></i>
                                        Add Tickets
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="col-sm-auto ms-auto">
                                    <div class="hstack gap-2">
                                        <div class="form-group">
                                            <select id="FilterStatus" name="FilterStatus" FilterStatus={{ Status }}
                                                class="form-control select2 w-100">

                                                <option value="All">All</option>
                                                <option value="On-Hold">On-Hold</option>
                                                <option value="Assigned">Assigned</option>
                                                <option value="Inprogress">Inprogress</option>
                                                <option value="Closed">Closed</option>
                                                <option value="Re-Open">Re-Open</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <select id="DataNumber" name="DataNumber" DataNumber={{ DataNumber }}
                                                class="form-control select2 w-100">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="30">30</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </div>

                                       <form autocomplete='off'>
                                        <div class="input-group mr-0">
                                            <input id="SearchQuery" type="text" placeholder="Search..." value='{{SearchQuery}}'
                                                class="form-control" aria-label="Recipient's username"
                                                aria-describedby="button-addon2">
                                            <button class="btn btn-primary" type="button" id="button-addon2">
                                                <i class="bx bx-search"></i>
                                            </button>
                                        </div>
                                    </form>

                                    </div>
                                </div>
                            </div>

                            <div class="row table-responsive">


                            <div class="col-md-12">
                                    <table id="tickets_table"
                                        class="table table-bordered dt-responsive nowrap table-striped align-middle"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>ID.</th>
                                                <th>Title</th>
                                                <th>Category</th>
                                                {% comment %} <th>Description</th> {% endcomment %}
                                                <th>Client</th>
                                                <th>Status</th>
                                                <th>Priority</th>
                                                <th>Created Date</th>
                                                <th>Modified Date</th>
                                                {% if perms.Tickets.change_tickets or perms.Tickets.delete_tickets %}
                                                <th>Action</th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if page_obj %}
                                            {% for ticket in page_obj %}
                                            <tr>
                                                <td>#{{ticket.ticket_number}} </td>
                                                <td><a href={{ticket.get_absolute_url}}>{{ticket.title}}</a></td>
                                                <td>{{ticket.category.name}}</td>
                                                <td>{{ticket.userID.first_name}}</td>
                                                <td><span class="badge {% if ticket.status == 'On-Hold' %} bg-primary {% elif ticket.status == 'Assigned' %} bg-success {% elif ticket.status == 'Inprogress' %} bg-secondary {% elif ticket.status == 'Closed'%} bg-danger {% elif ticket.status == 'Re-Open' %} bg-info {%else%} bg-orange{% endif %} text-uppercase">{{ticket.status}}</span></td>
                                                <td><span class="badge {% if ticket.priority == 'Critical' %} badge-soft-danger {% elif ticket.priority == 'Low' %} badge-soft-success {% elif ticket.priority == 'High' %} badge-soft-warning  {% else %} badge-soft-primary{% endif %} text-uppercase">{{ticket.priority}}</span></td>
                                                <td>{{ticket.created_at}}</td>
                                                <td>{{ticket.get_modified_date}}</td>
                                                {% if perms.Tickets.change_tickets or perms.Tickets.delete_tickets%}
                                                <td>

                                                        <div class="dropdown d-inline-block">
                                                            <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="ri-more-fill align-middle"></i>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-end">
                                                                {% if perms.Tickets.change_tickets %}
                                                                <li>
                                                                    <a class="dropdown-item edit-item-btn edit-ticket" ticketid='{{ticket.id}}'>
                                                                        <i class="ri-pencil-fill align-bottom me-2 text-muted" ></i> Edit
                                                                    </a>
                                                                </li>
                                                                {% endif %}
                                                                {% if perms.Tickets.delete_tickets  %}
                                                                <li>
                                                                    <a class="dropdown-item remove-item-btn delete-ticket" id='{{ticket.id}}'>
                                                                        <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete
                                                                    </a>
                                                                </li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                                {% else %}
                                                <tr>
                                                    <td class='text-center' colspan='{% if perms.Tickets.change_tickets or perms.Tickets.delete_tickets %}11{% else %}10{% endif %}'>No Tickets available</td>
                                                </tr>
                                                {% endif %}
                                           
                                        </tbody>
                                    </table>
                            </div>

                                <div class="mt-3 col-md-12 d-flex justify-content-between align-items-center">
                                    <div activePage = {{ page_obj.number }} class="col-md-6 activePage">
                                        Showing {{ page_obj.number }} to {{ page_obj.paginator.num_pages }} of {{ TotalTickets }}.
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                                        <ul class="pagination listjs-pagination">
                                            <a class="cursor-pointer page-item pagination-prev {% if not page_obj.has_previous %}disabled{% endif %}" page="1">
                                                    <i class="bx bx-chevrons-left"></i>
                                            </a>
                                            <a class="cursor-pointer page-item pagination-prev {% if not page_obj.has_previous %}disabled{% endif %}" page="{% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}No Page{% endif %}">
                                                Previous
                                            </a>
                                            
                                            {% for page in Pages %}
                                            <li class="{% if page_obj.number == page %}active{% endif %}">
                                                <a class="page-item cursor-pointer page {% if page == '…' %}disabled{% endif %}" page="{{page}}">{{page}}</a>
                                            </li>
                                            {% endfor %}

                                            <a class="cursor-pointer page-item pagination-next {% if not page_obj.has_next %}disabled{% endif %}" page="{% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}No Page{% endif %}">
                                                    Next
                                            </a>
                                            <a class="cursor-pointer page-item pagination-next {% if not page_obj.has_next %}disabled{% endif %}" page="{{ page_obj.paginator.num_pages}}">
                                                <i class="bx bx-chevrons-right"></i>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->


</div>

<!-- Edit users -->
<div id="userModal" class="modal fade zoomIn" tabindex="-1" aria-labelledby="zoomInModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="zoomInModalLabel">Edit Users</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="userID">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="firstNameinput" class="form-label">First Name</label>
                            <input type="text" class="form-control" placeholder="Enter first name" id="FName">
                        </div>
                    </div><!--end col-->
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="lastNameinput" class="form-label">Last Name</label>
                            <input type="text" class="form-control" placeholder="Enter last name" id="LName">
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="phonenumberInput" class="form-label">Phone Number</label>
                            <input type="number" class="form-control" placeholder="123" id="Phone">
                        </div>
                    </div><!--end col-->
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            <input type="email" class="form-control" placeholder="example@gamil.com" id="Email">
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="Position" class="form-label">Position</label>
                            <select id="Position" class="form-select">
                                <option value = ''>Select Position</option>
                            </select>
                        </div>
                    </div><!--end col-->
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="Department" class="form-label">Department</label>
                            <select id="Department" class="form-select">
                                <option selected>Select Department</option>
                            </select>
                        </div>
                    </div><!--end col-->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="Gender" class="form-label">Gender</label>
                            <select id="Gender" class="form-select">
                                <option selected>Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                
                            </select>
                        </div>
                    </div><!--end col-->
                
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button id='save_changess' type="button" class="btn btn-primary ">Save Changes</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- Edit users -->
<div id="AssignTicket" class="modal fade zoomIn" tabindex="-1" aria-labelledby="zoomInModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="zoomInModalLabel">Assign Agent</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="ticketID">
                    <div class="col-12">
                       
                        <div class="mb-3">
                            <label for="Agent" class="form-label">Search Agent</label>
                            <select id="Agent" class="form-select">
                                <option value = '1'>Mohamed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button id='save_changes' type="button" class="btn btn-primary ">Save Changes</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<!-- Edit Ticket -->
<div id="ticketModal" class="modal fade zoomIn" tabindex="-1" aria-labelledby="zoomInModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="zoomInModalLabel">Edit Ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="ticketID">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="firstNameinput" class="form-label">Title</label>
                            <input type="text" class="form-control" placeholder="Enter Title" id="title">
                        </div>
                    </div><!--end col-->
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="lastNameinput" class="form-label">Client</label>
                            <input type="text" class="form-control" placeholder="Search Client" id="client">
                        </div>
                    </div><!--end col-->

                    <div class="col-6">
                        <div class="mb-3">
                            <label for="Category" class="form-label">Category</label>
                            <select id="Category" class="form-select">
                                <option value = ''>Select Category</option>
                            </select>
                        </div>
                    </div><!--end col-->
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="Priority" class="form-label">Priority</label>
                            <select id="ticket_priority" class="form-select">
                                <option selected>Select Priority</option>
                                <option value="High">High</option>
                                <option value="Critical">Critical</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>
                        </div>
                    </div><!--end col-->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="Description" class="form-label">Description</label>
                                <textarea type="text" class="form-control" placeholder="Description" rows="5" id="ticket_description"></textarea>
                         
                        </div>
                    </div><!--end col-->
                
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button id='change_ticket' type="button" class="btn btn-primary ">Save Changes</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endblock %}

{% block ScriptBlock %}
<script>
    {% if page_obj %}
        $("#tickets_table").DataTable({
            paging: false,
            searching: false,
            info: false,
        });
    {% endif %}
</script>
<script src={% static 'scripts/admin/tickets/tickets.js' %}></script>
<script src={% static 'scripts/admin/tickets/assignticket.js' %}></script>
{% endblock %}